<div class="news">
  <div class="news-title">
    <a href="{{ path('news_show', {id: news.idNotizia}) }}">{{ news.titolo }}</a>
  </div>
  <div class="news-body">
 {{ news.notizia | linkify | bbcode | nl2br }}
  </div>
  <div class="news-footer">
    <div class="news-footer-left">
    </div>
    <div class="news-footer-right">
    {{ news.dataIns | date('d/m/Y') }}
    |
    {{ news.username }}
    </div>
  </div>
</div>
{#% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'news_'~news.idNotizia} %#}
