<!DOCTYPE html>
<html>
<head>
<title>{% block title %}UniversiBO - La community degli studenti per gli studenti{% endblock %}</title>
<link href="{{ asset('bundles/universibowebsite/css/yui/cssbase-min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/universibowebsite/css/yui/grids-min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/universibowebsite/css/screen.css') }}" rel="stylesheet" type="text/css" />
<meta http-equiv="content-type" content="text/html; charset=utf8"/>
{% block rss %}{% endblock %}
</head>
<body>
<div id="container">
  <div id="header">
      <a href="{{ path('homepage') }}">
          <img src="{{ asset('bundles/universibowebsite/images/logo-top.png') }}" alt="logo"/>
          <h1 id="h1-name">UniversiBO 3.0</h1>
      </a>
  </div>
  <div id="top-menu">
    <ul>
      <li><a href="{{ path('homepage') }}">Home</a></li>
      <li><a href="{{ path('staff_index') }}">Staff</a></li>
      <li><a href="{{ path('info_rules') }}">Regolamento</a></li>
      <li><a href="/forum/">Forum</a></li>
      <li><a href="/v2.php">UniversiBO 2</a></li>
    </ul>
  </div>
  <div id="main" class="yui3-g">
  {% block main %}
    <div id="left" class="yui3-u-1-5">
      {% render 'UniversiBOWebsiteBundle:ChannelMenu:index' with {'type' : 3, 'title' : 'Facoltà'} %}
      {% render 'UniversiBOWebsiteBundle:ChannelMenu:index' with {'type' : 1, 'title' : 'Servizi'} %}
    </div>
    <div id="content" class="yui3-u-3-5">
    {% block content %}
    {% endblock %}
    </div>
    <div id="right" class="yui3-u-1-5">
    {% render 'UniversiBOWebsiteBundle:UserInfo:index' %}
    </div>
  {% endblock %}
  </div>
  <div id="footer" class="yui3-g">
    <div class="yui3-u-1-5"></div>
    <div id="disclaimer" class="yui3-u-3-5">
      <p>Le informazioni contenute nel sito non hanno carattere di ufficialità.</p>
      <p>I contenuti sono mantenuti in maniera volontaria dai partecipanti alla comunità di studenti e docenti di UniversiBO. L'Alma Mater Studiorum - Università di Bologna non può essere considerata legalmente responsabile di alcun contenuto di questo sito.</p>
	  <p>Ogni marchio citato in queste pagine appartiene al legittimo proprietario.Con il contenuto delle pagine appartenenti a questo sito non si è voluto ledere i diritti di nessuno, quindi nel malaugurato caso che questo possa essere avvenuto, vi invitiamo a contattarci affinchè le parti in discussione vengano eliminate o chiarite.</p>
    </div>
    <div class="yui3-u-1-5"></div>
  </div>
</div>
<script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
</body>
