{% extends 'UniversiboWebsiteBundle::base.html.twig' %}
{% block content %}
<div class="titoloPagina"><h2>Profilo</h2></div>
<p>In questa pagina potete modificare gli indirizzi email e il numero di
    cellulare dove volete ricevere le notifiche, di cui potete specificare il livello.
Rimuovendo tutti gli indirizzi la mail di contatto sarà reimpostata a
<strong>{{ app.user.email }}</strong>.</p>
<p><strong>Attenzione:</strong> il numero di telefono deve essere inserito
    completo del prefisso internazionale +39.</p>
{% if app.session.hasFlash('notice') %}
    <div class="flash-notice">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
<form action="{{ path('universibo_website_profile_update') }}" method="post"
    {{ form_enctype(form) }} class="u3form">
    {{ form_errors(form)  }}
    <div>
    {{ form_label(form.phone) }}
    {{ form_widget(form.phone) }}
    (ricevi le notifiche urgenti via SMS)
    </div>
    {{ form_label(form.contacts) }}
    <ul class="contacts" data-prototype="{{ form_widget(form.contacts.vars.prototype)|e }}">
    {% for contact in form.contacts %}
        <li>{{ form_row(contact.value) }}</li>
    {% endfor %}
    </ul><br/>

    {{ form_row(form.notifications) }}<br/>
    {# Needed for CSRF #}
    {{ form_rest(form) }}
    <input type="submit" class="submitButton" value="Salva" />
</form>

<p>Per qualsiasi problema o spiegazioni contattate lo staff all'indirizzo
    <a href="mailto:{{ infoEmail }}">{{ infoEmail }}</a>.<br/>
In ogni caso non comunicate mai le vostre password di ateneo, lo staff non è
tenuto a conoscerle.</p>
<p>Il servizio SMS viene fornito grazie al contributo dell'Alma Mater Studiorum</p>
{% endblock content %}
