{% extends 'UniversiboDashboardBundle::base.html.twig' %}
{% block title %}Home - {{ parent() }}{% endblock %}
{% block content %}
<div class="hero-unit">
  <h1>{% trans %}udb_welcome{% endtrans %}</h1>
  <p>{% trans %}udb_home_desc{% endtrans %}</p>
</div>
<div class="row-fluid">
  <div class="span2">
    <h2>{% trans %}udb_users{% endtrans %}</h2>
    <ul>
      <li><strong>{% trans %}udb_users_active{% endtrans %}</strong>: {{ activeUsers }}</li>
      <li><strong>{% trans %}udb_users_logged_24h{% endtrans %}</strong>: {{ logged24h }}</li>
      <li><strong>{% trans %}udb_users_logged_week{% endtrans %}</strong>: {{ loggedWeek }}</li>
      <li><strong>{% trans %}udb_users_logged_academic{% endtrans %}</strong>: {{ loggedAcademic }}</li>
    </ul>
  </div>
  <div class="span2">
    <h2>{% trans %}udb_files{% endtrans %}</h2>
    <ul>
      <li><strong>{% trans %}udb_files_count{% endtrans %}</strong>: {{ filesCount }}</li>
    </ul>
    <h3>{% trans %}udb_files_latest{% endtrans %}</h3>
    <ul>
      {% for file in filesLatest %}
      <li><a href="{{ path('universibo_legacy_file', {id_file : file.idFile }) }}" target="_blank">{{file.titolo}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="span2">
    <h2>{% trans %}udb_professors{% endtrans %}</h2>
    <ul>
      {% for current in professorStatus %}
         <li><strong>{{ current.status }}</strong>: {{ current.count }}</li>
      {% endfor %}
    </ul>
    <a href="{{ path('universibo_legacy_contact_professors') }}" target="_blank">&Gt; {% trans %}udb_professors_contacts{% endtrans %}</a>
  </div>
  <div class="span2">
    <h2>{% trans %}udb_forums{% endtrans %}</h2>
  </div>
</div>
{% endblock %}
