<div class="box">
    <h3>{{ month }}</h3>
    <table width="100%" cellspacing="0" cellpadding="1" border="0" summary="Calendario">
        <tr align="center">
            {% for weekday in weekDays %}
                <th class="{{ weekday == 'D' ? 'Domeniche' : 'Feriali' }}">{{weekday|capitalize}}</th>
            {% endfor %}
        </tr>
        {% for week in data %}
        <tr align="center">
            {% for day in week %}
                {% if day.today == 'true' %}
                <td class="Oggi">{{ day.numero }}</td>
                {% else %}
                <td class="{% if day.tipo=='none' %}Piccolo{% elseif day.tipo=='feriale'%}Feriali{% elseif day.tipo=='festivo' %}Festivi{% elseif day.tipo=='domenica'%}Domeniche{% endif %}">{{ day.numero }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
