<!DOCTYPE html>
<html>
<head>
<title>{% block title %}UniversiBO - Il sito degli studenti per gli studenti{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% stylesheets
    '@UniversiboDesignBundle/Resources/public/less/main.less'
    'bundles/universibodesign/css/*'
    output="css/compiled/main.css" filter='less,cssrewrite,?yui_css'%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% if app.environment == 'prod' %}
{% raw %}
<style type="text/css">
input.gsc-input {
    border-color: #BBBBBB;
}
input.gsc-search-button {
    border-color: #000000;
    background-color: #333333;
}
</style>
<link rel="stylesheet" href="https://www.google.com/cse/style/look/default.css" type="text/css" />
{% endraw %}
{% endif %}
{#favIcon#}
{#<!--[if IE]><style type="text/css">#header ul.hide {ldelim}display: none !important;{rdelim}</style><![endif]-->#}
</head>
<body>
{% block body %}
{{ render(controller('UniversiboMainBundle:Common:navbar')) }}
{{ render(controller('UniversiboMainBundle:Common:alert')) }}
<div class="container-fluid">
    <div class="row-fluid">
        <div id="left" class="span2">
            {% if(is_granted('ROLE_USER')) %}
            <div id="myuniversibo">
                {{ knp_menu_render('myuniversibo', {'currentClass': 'active', 'template': 'UniversiboMainBundle:Menu:knp_menu.html.twig'}) }}
            </div>
            {% endif %}
            <div id="leftmenu">
                {{ knp_menu_render('left', {'currentClass': 'active', 'template': 'UniversiboMainBundle:Menu:knp_menu.html.twig'}) }}
            </div>
        </div>
        <div id="content" class="span7">
            {% if app.environment == 'prod' %}
            {# BEGIN GOOGLE CUSTOM SEARCH ENGINE #}
            {% raw %}
                <div id="cse-search-form" style="width: 100%;">Loading</div>
                <script src="https://www.google.it/jsapi" type="text/javascript"></script>
                <script type="text/javascript">
                    google.load('search', '1', {language : 'it', style : google.loader.themes.MINIMALIST});
                    google.setOnLoadCallback(function() {
                        var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
                        '004918876912573860674:6qxsvlkuxlo', customSearchOptions);
                        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
                        var options = new google.search.DrawOptions();
                        options.enableSearchboxOnly("https://www.google.it/cse?cx=004918876912573860674:6qxsvlkuxlo");
                        customSearchControl.draw('cse-search-form', options);
                    }, true);
                </script>
            {% endraw %}
        {# END GOOGLE CUSTOM SEARCH ENGINE #}
        {% endif %}
        {% block content %}{% endblock %}
        </div>
        <div id="right" class="span3 sidemenu">
            {% if channel|default(false) %}
                {{ render_esi(controller('UniversiboMainBundle:Role:box', {channelId: channel.idCanale})) }}
            {% endif %}
            {% if channel|default(false) and channel.servizioForum %}
                {{ render_esi(controller('UniversiboMainBundle:Forum:box', {channelId: channel.idCanale})) }}
            {% endif %}
            {% if channel|default(false) and channel.servizioLinks %}
                {{ render_esi(controller('UniversiboMainBundle:Link:box', {channelId: channel.idCanale})) }}
            {% endif %}
            {% if channel|default(false) and channel.servizioFilesStudenti %}
                {{ render_esi(controller('UniversiboMainBundle:File:studentBox', {channelId: channel.idCanale})) }}
            {% endif %}
            {% block likebox %}
            <div class="fb-like-box" data-href="http://www.facebook.com/UniversiBO" data-show-faces="true" data-stream="true" data-header="true"></div>
            {% endblock likebox %}
        </div>
    </div>
    <hr/>
    <div class="span12 disclaimer">
    {{ render_esi(controller('UniversiboMainBundle:Common:disclaimer')) }}
    </div>
</div>
{% endblock body %}
{% javascripts
'bundles/universibodesign/js/*'
'@MopaBootstrapBundle/Resources/bootstrap/js/*.js'
 output='js/compiled/main.js' filter='?yui_js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{{ render(controller('UniversiboMainBundle:Common:analytics')) }}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=231127170345763";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
