<div class="news">
  <div class="news-title">
    <a href="{{ path('news_show', {id: news.id}) }}">{{ news.title }}</a>
  </div>
  <div class="news-body">
 {{ news.content | linkify | bbcode | nl2br }}
  </div>
  <div class="news-footer">
    <div class="news-footer-left">
    </div>
    <div class="news-footer-right">
    {{ news.createdAt | date('d/m/Y') }}
    |
    {{ news.user }}
    </div>
  </div>
</div>
<form action="{{ path('news_delete', { 'id': news.id }) }}" method="post">
  {{ form_widget(delete_form) }}
  <button type="submit">Delete</button>
</form>
