<span class="sso-login-box">
  {% if(showEppn) %}
    {{ eppn }}
  {% endif %}
  <a href="{{ infoUrl }}"><img src="{{ asset('bundles/universibosso/images/ssologo18x18.png') }}" alt="{% trans %}universibo_sso.info{% endtrans %}" title="{% trans %}universibo_sso.info{% endtrans %}"/></a>
  {% if (showEppn) %}
    <a href="{{ logoutUrl }}">{% trans %}ub_logout{% endtrans %}</a>
  {% else %}
    <a href="{{ path('login') }}" title="{% trans %}universibo_sso.login_title{% endtrans %}">{% trans %}ub_login{% endtrans %}</a>
  {% endif %}
</span>
