<span class="sso-login-box">
  {% if(showEppn) %}
    {{ eppn }}
  {% endif %}
  <a href="{{ infoUrl }}"><img src="{{ asset('bundles/universibosso/images/ssologo18x18.png') }}" alt="{% trans %}universibo_sso.info{% endtrans %}" title="{% trans %}universibo_sso.info{% endtrans %}"/></a>
  {% if (showEppn) %}
      <a href="{{ logoutUrl }}">{% trans %}security.logout{% endtrans %}</a> [ {{ app.user.username }} ]
      <a href="{{ path('universibo_legacy_settings') }}"><i class="icon-wrench icon-white"></i></a>
  {% else %}
    <a href="{{ path('login') }}" title="{% trans %}universibo_sso.login_title{% endtrans %}">{% trans %}security.login{% endtrans %}</a>
  {% endif %}
</span>
