<span class="sso-login-box">
  {% if(is_granted('IS_AUTHENTICATED_FULLY')) %}
    {{ app.session.get('shibboletClaims').eppn|default(app.user.shibUsername) }}
  {% endif %}
  <a href="{{ infoUrl }}">
    <img src="{{ asset('bundles/universibosso/images/ssologo18x18.png') }}" alt="{% trans %}universibo_sso.info{% endtrans %}" title="{% trans %}universibo_sso.info{% endtrans %}"/>
  </a>
  {% if(is_granted('IS_AUTHENTICATED_FULLY')) %}
    <a href="{{ path('universibo_shibboleth_prelogout') }}">Logout</a>
  {% else %}
    <a href="{{ path('login') }}" title="{% trans %}universibo_sso.login_title{% endtrans %}">Login</a>
  {% endif %}
</span>
