{% extends 'UniversiBOWebsiteBundle::base.html.twig' %}
{% block title %}UniversiBO v3 :: Scheda di {{ person.user.username }}{% endblock %}
{% block content %}
<h2>Scheda di {{ person.user.username }}</h2>
<div class="staffbox">
  <img src="{{ asset('uploads/staff/' ~ person.FotoFilename) }}" alt="{{ person.user.username }}" class="staffbox-img"/>
  <p>{{ person.intro }}</p>
  <p><strong>Obiettivi:</strong> {{ person.obiettivi }}</p>
  <p><strong>Ruolo:</strong> {{ person.ruolo }}</p>
  <div style="clear:both"></div>
</div>
<p><a href="{{ path('staff_index') }}">Torna all'elenco</a>
{% endblock %}
