{% extends 'UniversiboMainBundle::base.html.twig' %}
{% block title %}UniversiBO :: Informativa sulla Privacy{% endblock %}
{% block content %}
{% if not is_granted('IS_AUTHENTICATED_FULLY') or user.usernameLocked %}
<h1>Regolamento e informativa</h1>
{% else %}
<h1>Registrazione</h1>
{% endif %}
{% if mustAccept %}

<form action="{{ path('universibo_main_rules_accept') }}" method="POST"
      class="accept-form">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <p class="error">{{ flashMessage }}</p>
    {% endfor %}
    {% if not user.usernameLocked %}
    <label for="username">Scegli un nome utente, non ti sarà possibile cambiarlo
        in futuro</label>
    <input id="username" name="username" value="{{ user.username }}"/>
    {% else %}
    <p>Per proseguire è necessario
        accettare regolamento e informativa sulla privacy</p>
    {% endif %}
    <p><input type="checkbox" id="accept_check" name="accept_check"/>
    <label for="accept_check">Ho letto e accetto
        l'<a href="#tabprivacy"  data-toggle="tab">Informativa sulla privacy</a>, il
        <a href="#tabmain" data-toggle="tab">Regolamento per l'utilizzo dei servizi</a> e del
        <a href="#tabforum" data-toggle="tab">forum</a>.</label></p>
    <p><input id="accept_submit" type="submit" value="Accetto"/></p>
</form>
{% endif %}

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tabprivacy" data-toggle="tab">{% trans %}rules.privacy{% endtrans %}</a></li>
    <li><a href="#tabmain" data-toggle="tab">{% trans %}rules.main{% endtrans %}</a></li>
    <li><a href="#tabforum" data-toggle="tab">{% trans %}rules.forum{% endtrans %}</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tabprivacy">
      {{ render_esi(controller('UniversiboMainBundle:Rules:privacyBox')) }}
    </div>
    <div class="tab-pane" id="tabmain">
      {{ render_esi(controller('UniversiboMainBundle:Rules:mainBox')) }}
    </div>
    <div class="tab-pane" id="tabforum">
      {{ render_esi(controller('UniversiboMainBundle:Rules:forumBox')) }}
    </div>
  </div>
</div>
{% endblock %}
